.div1 {
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: crimson;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.div2 {
    margin: -20px;
    margin-left: -40px;
    margin-top: 50px;
    border-radius: 10px;
    background-color:darkblue;
    height: 200px;
    width: 200px;
    display: inline-block;
}

.div3 {
    margin: -40px;
    margin-left: -40px;
    margin-top: 70px;
    border-radius: 10px;
    background-color:darkgreen;
    height: 200px;
    width: 200px;
    display: inline-block;
}



