

.tr2 {
    background-color: darkblue;
    color: white;
    
}

.tr1 {
    background-color: darkgray;
    color:darkblue;
}

.table1 {
    border-bottom: 1px solid darkblue;
    width: 100%;
    height: 10px;
}

