
.container {
    border: 2px solid balck;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    color: white;
    background-color: chocolate;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center; 
    margin: 3px; 
    cursor: grab;
    width: 100px;
    height: 100px;
}

