body {
    margin: 0;
}

.container {
    border: 6px solid yellow;
    display: flex;
}

.flex-item {
    color: chocolate;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center; 
}

.item-1 {
    background-color: cornflowerblue;
}
.item-2 {
    background-color: cornsilk;
}
.item-3 {
    background-color: cyan;
}
.item-4 {
    background-color: darkgoldenrod;
}
.item-5 {
    background-color: darkred;
}
.item-6 {
    background-color: darkorchid;
}
.item-7 {
    background-color: darksalmon;
}
.item-8 {
    background-color: dimgrey;
}
.item-9 {
    background-color: fuchsia;
}
